---
layout: default
title:  Categories
---

<script language="javascript" type="text/javascript" src="/tagcloud/swfobject.js"></script>

<div id="flashcontent"></div>
<script language="javascript" type="text/javascript">swfobject.embedSWF("/tagcloud/imagecloud.swf", "flashcontent","280", "280","9", "",{cloud_data: "/tagcloud/cloud_data.xml"},{wmode: "transparent", menu: "false", quality: "high", scale:"noscale"});</script>



{% for tag in site.tags %}
  <h3 id="{{ tag[0] }}" class="vlist">{{ tag[0] }}</h3>
  <ul>
    {% for post in tag[1] %}
      <li style="list-style-type: none; padding: 2px">
        <span>{{ post.date | date:"%d %b %Y" }}</span> &nbsp;
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endfor %}
